<% include('../layouts/header.ejs') %>

    <h1>Forget Password</h1>

    <% if(typeof message!=="undefined" ){ %>
        <h4>
            <%= message %>
        </h4>
        <% } %>

            <form action=""method="post">

                <input type="password" require name="<% include('../layouts/header.ejs') %>

    <h1>Forget Password</h1>

    <% if(typeof message!=="undefined" ){ %>
        <h4>
            <%= message %>
        </h4>
        <% } %>

            <form action="/forget" method="post">

                <input type="email" require name="password" placeholder="enter the password" ;>
                <input type="hidden" name="user_id"value=<%user_id%>>
                <br><br>
                <input type="submit" value="Reset Password" ;>
            </form>




            <% include('../layouts/footer.ejs'); %>" placeholder="enter the password" ;>
                <br><br>
                <input type="submit" value="send Reset link" ;>
            </form>




            <% include('../layouts/footer.ejs'); %>